<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<h1>
  <%= @registered_application.name %>
</h1>

<div class="row">
  <div class="col-md-8">
    <p><%= link_to @registered_application.url, "#" %></p>
  </div>
  <div class="col-md-4">
    <%= link_to "Edit", edit_registered_application_path(@registered_application), class: 'btn btn-success' %>
    
    <%= link_to "Unregister", @registered_application, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this registered application?'} %>
  </div>
</div>

<h3>Events</h3>
<div class="row">
  <div class="col-md-8">
    <% @events.each do |event, count| %>
      <div class="media">
        <div class="media-body">  
          <h4 class="media-heading">
            <%= event %>: <%= pie_chart @registered_application.events.group(:name).count %>
            <%= line_chart @registered_application.events.group_by_day(:created_at).count %>
          </h4>
        </div>
      </div>
    <% end %>
  </div>
</div>